.main_wrapper {
    width : 100%;
    overflow: hidden;
    font-family: apercu !important;
}


#subject {
    width: 300px;
    float: left;
    display: inline;
    margin-left: 20px;
}
 #celeb {
     width: 230px;
     height: 230px;
 }

.box {
    /*margin-left: 350px;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.matches {
  position: absolute;
}

 #interactive {
     background-color: #ffffff;
     border-style: solid;
 }



h4 {
    margin-bottom: 0px;
    margin-top: 10px;
    padding:0px;

}

#title{
    font-weight: bold;
}

#title {
    margin-bottom: 15px;
}

#result1, #result2, #result3, #result4, #result5, #result6, #result7, #result8 {
  margin: 30px 30px 30px 30px;
  width: 125px;
  height: 125px;
  flex-grow: 1;
  text-align: center;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8 {
  width: 125px;
  height: 125px;
}
figcaption {
    font-size: 13px;
}

#slider {
    justify-content: flex-end;
    margin-top: 95px;
}
#slider-output-container {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#threshold-slider {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#subject_options {
    display: grid;
}

#main_wrapper {
    flex-flow: row;
}
