.main_wrapper {
    width : 100%;
    overflow: hidden;
    font-family: apercu !important;
}


#subject {
    width: 300px;
    float: left;
    display: inline;
    margin-left: 20px;

}
 #celeb {
     width: 270px;
     height: 270px;
     margin-bottom: 10px;
 }

.box {

}

.threshold-slider{

}

#matches {
    margin-top: 60px;
    /*margin-left: 115px;*/
}
#matches > div {

}

.pics{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

 #interactive {
     background-color: #000000;
     color: #00ff00;
     border-style: solid;
 }

 #mismatches {
    float: right;
    position: relative;
    margin-top: 25px;
 }

 #mismatch_title {
    position: absolute;
    margin-left: 140px;
    /*font-weight: bold;*/
    font-family: Monaco;
    font-size: 12px;
  /*  margin-top: 35px;*/
 }





h4 {
    margin-bottom: 0px;
    margin-top: 10px;
    padding:0px;

}

#title{
    font-weight: bold;
}

#title {
    margin-bottom: 15px;
}

#result1, #result2, #result3, #result4, #result5, #result6, #result7, #result8 {
  margin: 30px 30px 30px 30px;
  width: 125px;
  height: 125px;
  flex-grow: 1;
  text-align: center;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8 {
  width: 125px;
  height: 125px;
}
figcaption {
    font-size: 13px;
}

#slider {
    justify-content: flex-start;
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-around;*/

}
#slider-output-container {
    margin-top: 20px;
}

#slider-output-container2 {
    margin-top: 20px;
}

#threshold_title {
    margin-top: 5px;
}

#threshold-slider {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: black;
}

#subject_options {
    display: grid;
    float: left;
    margin-top: 23px;
}

#main_wrapper {
    flex-flow: row;
}
